* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

#main-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.box {
	text-align: center;
	height: 30px;
	width: 30px;
}

.boxes {
	width: 300px;
}

.button {
	color: #008000;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 30px;
}

.column-headers {
	width: 330px;
}

.header {
	align-items: center;
	display: flex;
	height: 30px;
	justify-content: center;
	text-align: center;
	width: 30px;
}

.hidden {
	display: none;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.message {
	margin: 0;
	padding: 0 15px;
}

.message-container {
	height: 64px;
	margin-top: 20px;
	width: 300px;
}

.text-center {
	text-align: center;
}

.title {
	color: #008000;
	margin: 0;
	padding-top: 25px;
}

#score {
	margin-bottom: 5px;
	margin-top: -5px;
}